@tailwind base;
@tailwind utilities;
@tailwind components;

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000405;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8B13F4;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ab59f3;
}